<header>
  <div class="text-input inline-icon">
    <input name="search" type="text" [(ngModel)]="searchText" (ngModelChange)="searchPress($event)" required>
    <label for="search">Start typing to search help articles</label>
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>

  <h1>{{title}}</h1>
  <ng-content select="[header-secondary]"></ng-content>
</header>

<search-results [results]="searchResults" [searchTerm]="searchText" [progressPercent]="searchProgressPercent" [progressValue]="searchProgressValue" [@modalAnimation]="searchResultState" (revertSearch)="clearSearch()"></search-results>
