$green: #6ca754;
$orange: #fe9927;
$red: #cd2d2f;
$border: #ccc;
$light-grey: #eee;
$pn-grey: #444;

$pn-pink: #eb008c;
$pn-red: #c81e6e;
$pn-purple: #87005f;
$pn-light-blue: #1bb6ff;
$pn-blue: #1896d0;
$pn-dark-blue: #0065a4;
$pn-grey: #676d70;

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PlusnetCreighton';
    src: url('/assets/fonts/plusnetcreightonprobook.eot');
    src: url('/assets/fonts/plusnetcreightonprobook.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/plusnetcreightonprobook.woff') format('woff'),
         url('/assets/fonts/plusnetcreightonprobook.ttf') format('truetype'),
         url('/assets/fonts/plusnetcreightonprobook.svg#PlusnetCreightonProBook') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PlusnetCreightonBold';
    src: url('/assets/fonts/plusnetcreightonprobold.eot');
    src: url('/assets/fonts/plusnetcreightonprobold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/plusnetcreightonprobold.woff') format('woff'),
         url('/assets/fonts/plusnetcreightonprobold.ttf') format('truetype'),
         url('/assets/fonts/plusnetcreightonprobold.svg#PlusnetCreightonProBold') format('svg');
}
