@import '~sass/mixins';
@import '~sass/variables';

nav {
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  padding: 0;
}

a {
  display: block;
  width: 100px;
  width: calc(100vh / 7);
  height: 100px;
  height: calc(100vh / 7);
  background: $light-grey;
  text-decoration: none;
  text-align: center;
  position: relative;
  color: $pn-red;
  transition: background-color 0.2s ease;
  border-top: 1px solid $border;
  border-right: 1px solid $border;
  cursor: pointer;

  li:first-of-type & {
    border-top: 0;
  }

  li:last-of-type & {
    border-bottom: 1px solid $border;
  }

  .nav-7 li:last-of-type & {
    border-bottom: 0;
  }

  &.active,
  &:active,
  &.router-link-active {
    background: $pn-red;
    color: $light-grey;

    i {
      color: $light-grey;
    }
  }

  i {
    display: block;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.3s ease;
    color: $pn-red;
  }

  i,
  &:after {
    position: absolute;
    left: 50%;
  }

  &:after {
    content: attr(data-name);
    top: 68%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.15s ease;
  }

  &:hover {
    i {
      transform: translate3d(-50%, -75%, 0);
    }

    &:after {
      opacity: 1;
    }
  }

  &:active,
  &:active i,
  &:active:after {
    transition: none;
  }
}
